// .v-application {
//   background: radial-gradient(
//     circle,
//     rgb(71, 21, 3) 24%,
//     rgba(0, 0, 0, 1) 100%
//   ) !important;
// }

.styles-bg-black-shine {
  background: radial-gradient(
    circle,
    rgba(23, 23, 23, 1) 24%,
    rgba(0, 0, 0, 1) 100%
  ) !important;
}
.styles-bg-blue-sky {
  background: rgb(9, 123, 199);
  background: linear-gradient(
    180deg,
    rgba(9, 123, 199, 1) 0%,
    rgba(205, 231, 255, 1) 100%
  ) !important;
}

.styles-bg-sunset {
  background: rgb(5, 38, 93);
  background: linear-gradient(
    180deg,
    rgba(5, 38, 93, 1) 0%,
    rgba(9, 123, 199, 1) 48%,
    rgba(255, 255, 226, 1) 92%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
}

.styles-bg-select {
  background: rgb(5, 38, 93);
  background: radial-gradient(
    rgb(67, 72, 81) 0%,
    rgb(7, 11, 14) 99%
  ) !important;
}
