.border-white {
  border: 1px solid white !important;
}



.border-top-black {
  border-top: 1px solid black !important;
}

.border-bottom-black {
  border-bottom: 1px solid black !important;
}

.border-top-red {
  border-top: 1px solid red !important;
}

.border-bottom-red {
  border-bottom: 1px solid red !important;
}

.border-red {
  border: 1px solid rgb(158, 0, 0) !important;
}

.border-top-orange {
  border-top: 1px solid orange !important;
}

.border-bottom-orange {
  border-bottom: 1px solid orange !important;
}

.border-top-yellow {
  border-top: 1px solid yellow !important;
}

.border-bottom-yellow {
  border-bottom: 1px solid yellow !important;
}

.border-top-green {
  border-top: 1px solid green !important;
}

.border-bottom-green {
  border-bottom: 1px solid green !important;
}

.border-top-teal {
  border-top: 1px solid teal !important;
}

.border-bottom-teal {
  border-bottom: 1px solid teal !important;
}

.border-top-cyan {
  border-top: 1px solid cyan !important;
}

.border-bottom-cyan {
  border-bottom: 1px solid cyan !important;
}

.border-top-blue {
  border-top: 1px solid blue !important;
}

.border-bottom-blue {
  border-bottom: 1px solid blue !important;
}

.border-top-indigo {
  border-top: 1px solid indigo !important;
}

.border-bottom-indigo {
  border-bottom: 1px solid indigo !important;
}

.border-top-violet {
  border-top: 1px solid violet !important;
}

.border-bottom-violet {
  border-bottom: 1px solid violet !important;
}

.border-top-pink {
  border-top: 1px solid pink !important;
}

.border-bottom-pink {
  border-bottom: 1px solid pink !important;
}

.border-top-brown {
  border-top: 1px solid brown !important;
}

.border-bottom-brown {
  border-bottom: 1px solid brown !important;
}

.border-gray {
  border: 1px solid rgb(67, 67, 67) !important;
}

.border-top-gray {
  border-top: 1px solid rgb(67, 67, 67) !important;
}

.border-bottom-gray {
  border-bottom: 1px solid rgb(67, 67, 67) !important;
}

.border-top-white {
  border-top: 1px solid white !important;
}

.border-bottom-white {
  border-bottom: 1px solid white !important;
}